################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/BackEnd/BackEnd/.vs/BackEnd/FileContentIndex
