################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/BackEnd/BackEnd/.vs/BackEnd/FileContentIndex
/BackEnd/BackEnd/.vs/BackEnd/v17/.suo
/BackEnd/BackEnd/.vs/BackEnd/v17/DocumentLayout.json
/BackEnd/BackEnd/.vs/BackEnd/v17/.suo
/BackEnd/BackEnd/.vs/BackEnd/v17/DocumentLayout.json
/BackEnd/BackEnd/.vs/BackEnd/v17/.suo
/BackEnd/BackEnd/.vs/BackEnd/v17/.suo
/BackEnd/BackEnd/.vs/BackEnd/v17/DocumentLayout.json
