USE [BDBubbleHouse]
GO
/****** Object:  StoredProcedure [dbo].[Eliminar_SubCategoria_Producto]    Script Date: 15/4/2024 06:26:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[Eliminar_SubCategoria_Producto]
    @Id_SubCategoria_Producto int,
    @IDRETURN int OUTPUT,
    @ERRORID int OUTPUT,
    @ERRORDESCRIPCION nvarchar(max) OUTPUT
AS
BEGIN
    BEGIN TRY
        -- Verificar si la subcategoría de producto existe
        IF NOT EXISTS (SELECT ID_SUBCATE_PRODUCTO FROM TB_SUBCATEGORIA_PRODUCTO WHERE ID_SUBCATE_PRODUCTO = @Id_SubCategoria_Producto)
        BEGIN
            SET @IDRETURN = -1;
            SET @ERRORID = 12;
            SET @ERRORDESCRIPCION = 'La subcategoría de producto especificada no existe.';
            RETURN; -- Salir del procedimiento almacenado
        END
		ELSE
		BEGIN
			-- Eliminar la subcategoría de producto
			UPDATE TB_SUBCATEGORIA_PRODUCTO
			SET ESTADO = 0
			WHERE ID_SUBCATE_PRODUCTO = @Id_SubCategoria_Producto;

			SET @IDRETURN = 1; -- Éxito
		END
    END TRY
    BEGIN CATCH
        SET @IDRETURN = -1;
        SET @ERRORID = ERROR_NUMBER();
        SET @ERRORDESCRIPCION = ERROR_MESSAGE();
        --Bitacorear error en BD.
		INSERT INTO TB_ERROR_EN_BASE_DATOS 
			(
				NUM_SEVERIVDAD,
				STORE_PROCEDURE,
				NUM_ERROR,
				DSC_DESCRIPCION,
				NUM_LINEA,
				FEC_ERROR
			) 
			SELECT ERROR_SEVERITY(),
				   ERROR_PROCEDURE(),
				   ERROR_NUMBER(),
				   ERROR_MESSAGE(),
				   ERROR_LINE(),
				   GETUTCDATE();
    END CATCH
END
